.app {
  padding: 10px;
  background: grey;
  text-align: center;
}

.son {
  padding: 10px;
  background: yellow;
}

.grandson {
  padding: 10px;
  background: green;
}

.app.red button {
  background: red;
  color: white;
}

.app.blue button {
  background: blue;
  color: white;
}